<section th:fragment="hero2(isHome, cover, title)">
  <div
    th:if="${theme.config.footlayout.header_widget != 'none'} and ${isHome}"
    class="bg-cover bg-center bg-no-repeat"
    th:styleappend="${theme.config.footlayout.header_background_type == 'image' ? 'background-image: url(' + theme.config.footlayout.header_background_image + ');' : 'background: ' + theme.config.footlayout.header_background + ';'}"
    th:classappend="${theme.config.footlayout.header_widget == 'site_title' ? 'h-96' : ''}"
  >
    <th:block th:switch="${theme.config.footlayout.header_widget}">
      <th:block th:case="site_title">
        <div class="container mx-auto ml-100 flex h-full flex-col items-start justify-center gap-3 py-6">
          <a
          th:href="@{${theme.config.footlayout.back_title_url}}"
          th:title="${theme.config.footlayout.back_title}"
          th:text="${theme.config.footlayout.back_title}"
          class="mr-1 text-5xl text-white font-medium "
          >
          </a>
          <span class="text-2xl font-light text-white opacity-50" th:text="${theme.config.footlayout.back_title_sub}"></span>
        </div>
      </th:block>
    </th:block>
  </div>
  <th:block th:if="${theme.config.footlayout.content_header} and ${not #strings.isEmpty(cover)}">
    <div class="relative">
      <div
        class="before:z-1 relative h-96 bg-cover bg-center bg-no-repeat before:absolute before:inset-0 before:bg-black/40"
        th:style="|background-image: url('${cover}')|"
      ></div>
      <header
        class="pattern-header-text absolute top-1/2 mx-auto flex w-full flex-col items-center justify-center gap-3"
      >
        <h1 class="text-5xl text-white" th:text="${title}"></h1>
      </header>
    </div>
  </th:block>
</section>
