<section th:fragment="hero(isHome, cover, title)">
  <div style="display: flex; margin: 0  10px; flex-wrap: wrap; justify-content:center" class="grid grid-cols-2 sm:grid-cols-1 lg:grid-cols-2 dark:bg-slate-900 bg-slate-50">
    <div
      th:if="${theme.config.layout.header_widget != 'none'} and ${isHome}"
      class="bg-cover bg-center bg-no-repeat flex justify-end"
      th:styleappend="${theme.config.midEnter.left_background_type == 'image' ? 'background-image: url(' + theme.config.midEnter.left_background_image + ');' : 'background: ' + theme.config.midEnter.left_background_image + ';'}"
      th:classappend="${theme.config.midEnter.header_widget_left == 'site_title' ? 'h-96' : ''}"
    >
      <th:block th:switch="${theme.config.midEnter.header_widget_left}">
        <th:block th:case="site_title">
          <div style="margin: 50px;" class="flex flex-col items-start justify-center">
            <a
              th:href="@{${theme.config.midEnter.title_url_left}}"
              th:title="${theme.config.midEnter.main_title_left}"
              th:text="${theme.config.midEnter.main_title_left}"
              class="mr-1 text-5xl text-white font-medium "
            >
            </a>
            <span style="width: fit-content;margin-top: 10px;" class="text-xl font-light text-white opacity-50" th:text="${theme.config.midEnter.sec_title_left}"></span>
          </div>
        </th:block>
      </th:block>
    </div>
    <div
      th:if="${theme.config.layout.header_widget != 'none'} and ${isHome}"
      class="bg-cover bg-center bg-no-repeat flex justify-end"
      th:styleappend="${theme.config.midEnter.right_background_type == 'image' ? 'background-image: url(' + theme.config.midEnter.right_background_image + ');' : 'background: ' + theme.config.midEnter.right_background_image + ';'}"
      th:classappend="${theme.config.midEnter.header_widget_right == 'site_title' ? 'h-96' : ''}"
    >
      <th:block th:switch="${theme.config.midEnter.header_widget_right}">
        <th:block th:case="site_title">
          <div style="margin:50px;" class=" flex  flex-col items-start justify-center">
            <a
              th:href="@{${theme.config.midEnter.title_url_right}}"
              th:title="${theme.config.midEnter.main_title_right}"
              th:text="${theme.config.midEnter.main_title_right}"
              class="mr-1 text-5xl text-white font-medium "
            >
            </a>
            <span style="width: fit-content;margin-top: 10px;" class="text-xl font-light text-white opacity-50" th:text="${theme.config.midEnter.sec_title_right}"></span>
          </div>
        </th:block>
      </th:block>
    </div>
    <a
    th:href="@{${theme.config.midEnter.title_url_right_ai}}"
    class="mr-1 text-5xl text-white font-medium "
    >
      <div
      th:if="${theme.config.layout.header_widget != 'none'} and ${isHome}"
      class="bg-cover bg-center bg-no-repeat flex justify-end"
      th:styleappend="${theme.config.midEnter.right_background_type_ai == 'image' ? 'background-image: url(' + theme.config.midEnter.right_background_image_ai + ');' : 'background: ' + theme.config.midEnter.right_background_image_ai + ';'}"
      ></div>
    </a>
  </div>
  
  <style>
    @media screen and (max-width: 768px) {
      /* Adjust layout for smaller screens */
      .dark\:bg-slate-900, .bg-slate-50 {
        flex-direction: column;
      }
    }
  </style>
</section>